<script src="/javascripts/newrent.js"></script>
<script src="/javascripts/jquery.js" charset="utf-8"></script>

​
<nav class="navbar navbar-light bg-light" id="logobike"></nav>
<div class="pl-lg-5 pr-lg-5">
  <button class="btn btn-default" onclick="location.href='/{{link}}/{{rent.client.cpf}}'"> <i
      class="fa fa-shield fa-rotate-90 fa-3x" aria-hidden="true"></i> </button>
  <div class="texto-centro mb-3">
    <FONT id="titulo" size="6" face="Segoe UI Symbol" color="#3CB1FE">
      Resumo do Aluguel
    </FONT>
  </div>
​
  <div class="row mt-3">
    <div class="col-lg-6">
      <h3 id="list" class="pagamento"><b>Nome do cliente:</b> {{rent.client.name}}</h3>
      <h3 id="list" class="pagamento"><b>CPF:</b> {{rent.client.cpf}}</h3>
      <h3 id="list" class="pagamento"><b>Hora de chegada:</b> {{rent.startHour}}</h3>
      <h3 class="pagamento" id="time"></h3>
      <h3 id="list" class="pagamento"><b>Equipamento:</b> {{rent.equipament.name}}</h3>
      <h3 id="list" class="pagamento"><b>Quantidade:</b> {{rent.quantity}}</h3>
      <h3 id="list" class="pagamento"><b>Preço por unidade:</b> {{unitPrice}}</h3>
      <h3 id="list" class="pagamento"><b>Acessórios: </b> {{rent.accessory}}</h3>
      <h3 class="pagamento" id="_loyaltyPoints"><b>Pontos de fidelidade: </b> {{points}}</h3>
      <h3 class="pagamento" id="_id"><b>Código do Cliente: </b> {{rent._id}}</h3>
    </div>
​
    <div class="col-lg-6 mt-sm-3">
      <form action="/close/{{rent.id}}" method="post">
        <h3 class="text-CPE-orange texto-centro">Devolução</h3>
        <div class="Address-btn1">
          <label for="InputNumerodepessoas">
            <FONT size="4" id="list" face="Swis721 LtEx BT" color="black">Entregue</FONT>
          </label>
          <div class="col-lg-2">
            <input type="number" class="form-control" id="quantity" name="close[returnQuantity]"
              max="{{rent.remainingQuantity}}" min="1" value="{{rent.remainingQuantity}}" onkeyup="partialPrice">
          </div>
          <div class="col-lg-6">
            <input class="form-control" id="price" name="close[partialPrice]">
          </div>
        </div>
        <div class="cadastro">
          <div class="texto-centro mt-3">
            <label for="InputEquipamento">
              <FONT size="4" id="list" face="Swis721 LtEx BT" color="black">Local</FONT>
            </label>
            <select id="productCode" class="drowdownoptions form-control" name="close[endLocal]" required="required">
              <option value="{{{rent.startLocal}}}">{{{rent.startLocal}}}</option>
              <option value="Bem-Te-Vi">Bem-Te-Vi</option>
              <option value="Matriz">Matriz</option>
              <option value="Vila Pampulha">Vila Pampulha</option>
              <option value="Shopping Contagem">Shopping Contagem</option>
            </select>
          </div>
        </div>
        <div class="btntest mt-4 texto-centro">
          <button id="btnshow" type="submit" class="btn_encerrar text-white">Encerrar aluguel</button> </div>
      </form>
    </div>
  </div>
</div>

<script>partialPrice()</script>