<nav class="navbar navbar-light bg-light" id="logobike"></nav>
<div class="pl-lg-5 pr-lg-5">
  <button class="btn btn-default" onclick="location.href='/dailyReport'"> <i class="fa fa-shield fa-rotate-90 fa-3x" aria-hidden="true"></i> </button>
  <div class="texto-centro mb-3">
    <FONT size="6" face="Segoe UI Symbol" color="#3CB1FE" >
      Relatório Diário - {{day}}/{{monthNumber}}/{{year}}
    </FONT>
  </div>
</div>

<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">Loja</th>
      <th scope="col">Alocações</th>
      <th scope="col">Faturamento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matriz</td>
      <td>{{totalUnits}}</td>
      <td>{{totalProfit}}</td>
    </tr>
    <tr>
      <td>Mirante Bem-Ti-Vi</td>
      <td>{{totalUnits}}</td>
      <td>{{totalProfit}}</td>
    </tr>
    <tr>
      <td>Shopping Contagem</td>
      <td>{{totalUnits}}</td>
      <td>{{totalProfit}}</td>
    </tr>
    <tr>
      <td>Vila Pampulha</td>
      <td>{{totalUnits}}</td>
      <td>{{totalProfit}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{totalUnits}}</td>
      <td>{{totalProfit}}</td>
    </tr>
  </tbody>
</table>