<nav class="navbar navbar-light bg-light" id="logobike"></nav>
<div class="pl-lg-5 pr-lg-5">
  <button class="btn btn-default" onclick="location.href='/home'"> <i class="fa fa-shield fa-rotate-90 fa-3x" aria-hidden="true"></i> </button>
  <div class="texto-centro mb-3">
    <button class="col-xs-12 col-sm-12 col-md-2 btnrelatorio2" type="submit" onclick="location.href='/equipamentBalance/previous'">Mês Anterior</button>
    <FONT id="titulo1" size="6" face="Segoe UI Symbol" color="#3CB1FE" >
      Relatório de Equipamentos  -  {{date.monthNumber}}/{{date.year}}
    </FONT>
    <button class="col-xs-12 col-sm-12 col-md-2 btnrelatorio2" type="submit" onclick="location.href='/equipamentBalance/next'">Mês Posterior</button>
  </div>
</div>

<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th id="balanceTop" scope="col">Nome</th>
      <th id="balanceTop" scope="col">Preço</th>
      <th id="balanceTop" scope="col">Faturamento</th>
      <th id="balanceTop" scope="col">Quantidade de aluguéis</th>
    </tr>
  </thead>
  <tbody>
    {{#each equipaments}}
        <tr>
            <td id="balance" scope="row">{{name}}</td>
            <td id="balance" scope="row">{{priceR$}}</td>
            <td id="balance" scope="row">{{value}}</td>
            <td id="balance" scope="row">{{rents}}</td>
        </tr>
    {{/each}}
    <tr>
      <td id="balance" scope="row"></td>
      <td id="balance" scope="row">Total</td>
      <td id="balance" scope="row">{{totalProfit}}</td>
      <td id="balance" scope="row">{{totalUnits}}</td>
    </tr>
  </tbody>
</table>
