<nav class="navbar navbar-light bg-light" id="logobike"></nav>
<div class="pl-lg-5 pr-lg-5">
  <button class="btn btn-default" onclick="location.href='/monthlyBalance'"> <i class="fa fa-shield fa-rotate-90 fa-3x" aria-hidden="true"></i> </button>
  <div class="texto-centro mb-3">
    <FONT size="6" face="Segoe UI Symbol" color="#3CB1FE" >
      Relatório Mensal - {{monthNumber}}/{{year}}
    </FONT>
  </div>
</div>

<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Valor</th>
      <th scope="col">Dados</th>
    </tr>
  </thead>
  <tbody>
    {{#each rents}}
    <tr>
      <td>{{client.name}}</td>
      <td>{{discount}}</td>
      <td scope="row" class="text-center">
        <form action="/monthlyReportDetails/{{id}}" method="get">
          <button class="btn text-white orange-button" type="submit">Ver</button>
        </form>
      </tr>
    {{/each}}
  </tbody>
</table>
