<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{mm}}/{{yyyy}}</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Tempo</th>
      <th scope="col">Preço</th>
      <th scope="col">Cartão</th>
      <th scope="col">Dinheiro</th>

    </tr>
  </thead>
  <tbody>
    {{#each relmes}}
    <tr>
      <th scope="row">{{day}}</th>
      <td>{{quantidade}}</td>
      <td>{{tempo}}</td>
      <td>{{preço}}</td>
      <td>{{cartao}}</td>
      <td>{{dinheiro}}</td>


    </tr>
    {{/each}}


  </tbody>
</table>
