<button class="btn btn-default" onclick="location.href='/homemaster'"> <i class="fa fa-shield fa-rotate-90 fa-3x"
    aria-hidden="true"></i> </button>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{mm}}/{{yyyy}}</th>
      <th scope="col">Bicicleta aro 26</th>
      <th scope="col">Triciclo</th>
      <th scope="col">Bicicleta Freeride</th>
      <th scope="col">Bicicleta Dupla</th>
      <th scope="col">Bicicleta comum</th>
      <th scope="col">Skate</th>
      <th scope="col">Patinete</th>
      <th scope="col">Patins</th>
      <th scope="col">Carrinho de rolimã</th>
      <th scope="col">Bicicleta Tripla</th>
      <th scope="col">Bicicleta com marcha aro 29</th>
      <th scope="col">Bicicleta Chopper</th>
      <th scope="col">Bicicleta Triciclo Família</th>
      <th scope="col">Triciclo Trenzinho</th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      <th scope="row">{{day}}</th>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
      <td>{{quantidade}}</td>
    </tr>
    {{/each}}
    <tr>
      <th scope="row">Total</th>
      <td>{{quanttt}}</td>
      <td>{{tempottm}}</td>
      <td>{{precottm}}</td>
      <td>{{cartt}}</td>
      <td>{{dimtt}}</td>
    </tr>
  </tbody>
</table>