<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{mm}}/{{yyyy}}</th>
      <th scope="col">Tempo</th>
      <th scope="col">Preço</th>
      <th scope="col">Pagamento</th>

    </tr>
  </thead>
  <tbody>
    {{#each reldia}}
    <tr>
      <th scope="row">{{quantidade}}</th>
      <td>{{tempo}}</td>
      <td>{{preço}}</td>
      <td>{{pagamento}}</td>

    </tr>
    {{/each}}
<tr>
  <th scope="row"> {{reldia.length}}</th>
  <td>--</td>
  <td>--</td>
  <td>--</td>
  <td>{{tempott}}</td>
  <td>{{precott}}</td>
  <td>Cartão:{{cartao}} <br> Dinheiro:{{dinheiro}}</td>

</tr>

  </tbody>
</table>
