<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{dd}}/{{mm}}/{{yyyy}}</th>
      <th scope="col">Cliente</th>
      <th scope="col">Unidade</th>
      <th scope="col">Equipamento</th>
      <th scope="col">Tempo</th>
      <th scope="col">Preço</th>

    </tr>
  </thead>
  <tbody>
    {{#each reldia}}
    <tr>
      <th scope="row">1</th>
      <td>oi</td>
      <td>{{localsaida}}</td>
      <td>{{eq}}</td>
      <td>
      
    </tr>
    {{/each}}

  </tbody>
</table>
